@import "colors.css";


:root{
    font-family: Lato;
}

::placeholder{
    font-family: Lato;
    font-size: 26px;
    opacity: 1;
    color: var(--color-placeholder);
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-family: Lato;
    font-weight: normal;
    font-size: 26px;
    color: var(--color-h1);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
h2{
    font-family: Lato;
    font-weight: normal;
    font-size: 40px;
    color: var(--color-h2);
}
h3{
    font-family: Lato;
    font-weight: light;
    font-size: 40px;
    color: var(--color-h3);
}
.top-line{
    background: var(--color-top-line);
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0px; 
    right: 0px; 
}

@media screen and (max-width: 428px){
    logitechshop-title{
        font-size: 7vw;
    }  
    nav > div > a > img{
        width: 7vw;
        height: 7vw;
    }
}
@media screen and (min-width: 429px){
    logitechshop-title{
        font-size: 32px;
    }  
}
logitechshop-title{
    font-weight: bold;
    color: var(--color-logo);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.horizontal-line-whole-page{
    background: var(--color-borders);
    border-width: 0;
    height: 1px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 16px;
}
.horizontal-line-whole-page-selectors{
    background: var(--color-borders);
    border-width: 0;
    height: 1px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: -1px;
}
.collapsed{
    opacity: 0;
    transition: 500ms;
    transform-origin: top;
    transform: scaleY(0);
}
.open{
    opacity: 1;
    transition: 500ms;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-left: 8px;
    margin-right: 8px;
}
nav > div > button > img{
    padding-top: 3px;
}
nav > div > button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
nav > div > button + button{
    margin-left: 0px;
}
menu-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
#dropdown-menu-button button h1{
    margin-left: 4px;
    }
#dropdown-menu-button button{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
#menu{
    font-family: Lato;
    font-size: 26px;
    color: var(--color-menu);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
#searchbox{
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 465px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid var(--color-search-border);
    border-radius: 4px;
}
#search-input{
    width: 100%;
    flex: 1 1 auto;
    max-width: 430px;
    color: var(--color-search-text);
    font-family: Lato;
    font-size: 26px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 2px;
    margin-left: 4px;
}
#search-input:focus{
    outline:none;
}
#searchbox > button{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    cursor: pointer;
    margin-top: 3px;
}
menu-dropdown{
    visibility: visible;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    left: 0px;
    height: 100%;
}
menu-dropdown > ul{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 24px;
}
.categoryborder{
    background: var(--color-borders-dropdown-menu);
    border-width: 0;
    height: 1px;
    margin-left: 0px;
    margin-right: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 901px){
    footer{
        height: 400px;
        width: 100%;
        position: static;
        bottom: 0px;
        left: 0px;
    }
    #upper-footer{
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 330px;
        padding-bottom: 0px;
        bottom: 0px;
        left: 0px;
        background-color: var(--background-footer);
    }
    #logitechshop-footer{
        margin-top: 50px;
        margin-left: 10px;
        font-size: 60px;
        font-weight: bold;
    }
    #footer-links{
        display: flex;
    }
    .footer-list{
        margin-top: 50px;
        color: var(--color-text-footer);
        margin-right: 100px;
    }
    .footer-list > ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0px;
        font-size: 12px;
        font-weight: normal;
    }
    .footer-list > ul > li{
        margin-bottom: 8px;
    }
    #copyright-strip{
        position: relative;
        width: 100%;
        height: 70px;
        background-color: var(--background-copyright);
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    #copyright-strip > div{
        position: relative;
        font-family: Lato;
        font-weight: normal;
        font-size: 28px;
        color: var(--color-copyright-text);
        text-align: center;
        padding-top: 18px;
    } 
}
@media screen and (max-width: 900px){
    footer{
        height: 366px;
        width: 100%;
        position: static;
        bottom: 0px;
        left: 0px;
    }
    #upper-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 340px;
        padding-bottom: 0px;
        bottom: 0px;
        left: 0px;
        background-color: var(--background-footer);
    }
    #logitechshop-footer{
        background-color: rgba(255, 255, 255, 1);
        height: 120px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 10vw;
        font-weight: bold;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid var(--color-borders);
    }
    #logitechshop-footer > div{
        text-align: center;
    }
    #footer-links{
        position: relative;
        top: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .footer-list{
        margin-top: 0px;
        margin-left: 12px;
        font-size: 16px;
        color: var(--color-text-footer);
        width: 40%;
    }
    .footer-list > ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0px;
        font-size: 12px;
        font-weight: normal;
    }
    .footer-list > ul > li{
        margin-bottom: 8px;
    }
    #copyright-strip{
        position: relative;
        width: 100%;
        height: 26px;
        background-color: var(--background-copyright);
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    #copyright-strip > div{
        position: relative;
        font-family: Lato;
        font-weight: normal;
        font-size: 12px;
        color: var(--color-copyright-text);
        text-align: center;
        padding-top: 4px;
    } 
}
.promotionimage{
    width: calc(100% - 24px);
    max-height: 372px;
    object-fit: cover;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    margin-bottom: 16px;
    border-radius: 4px;
}
#homepage-products-selectors{
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 24px;
    margin-bottom: 0px;
    align-items: end;
    margin-bottom: 0px;
}
.homepage-products-selector{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 0px;
    width: 100px;
}
.homepage-products-selector-text{
    font-family: Lato;
    font-size: normal;
    font-weight: 24px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.homepage-products-selector-line{
    visibility: visible;
    background: var(--color-selector-selected);
    border-width: 0;
    height: 6px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.homepage-products-selector-line-unselected{
    visibility: hidden;
    background: var(--color-selector-selected);
    border-width: 0;
    height: 6px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.homepage-products{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
}
.homepage-product-flex-child{
    min-width: 160px;
    
}
@media screen and (max-width: 450px){
    #search-results-heading > h3{
        font-size: 24px;
    }
    #search-results-heading > h2{
        font-size: 24px;
    }
    #search-results-header > h3{
        font-size: 24px;
    }
    .homepage-product-flex-child{
        width: calc((100% - 2px));
        height: 100%;
    }
    .homepage-product-price{
        font-family: Lato;
        color: var(--color-product-price);
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 4px;
    }
    .homepage-product-name{
        font-size: 12px;
    }
    .search-results-product-icons > button > img{
        width: 16px;
        height: 16px;
    }
    .homepage-product-text{
        height: 30px;
    }
}
@media screen and (min-width: 451px) and (max-width: 700px){
    .homepage-product-flex-child{
        width: calc((100% - 2px) / 2);
        height: 100%;
        border-image: linear-gradient(transparent 0 15%, var(--color-borders) 15% 85%, transparent 85%) 30;
        border-width: 0px;
    }
    .homepage-product-flex-child:nth-child(2n){
        border-left: solid 1px var(--color-borders);
    }
    .homepage-product-price{
        font-family: Lato;
        color: var(--color-product-price);
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 4px;
    }
    .homepage-product-name{
        font-size: 12px;
    }
    .search-results-product-icons > button > img{
        width: 16px;
        height: 16px;
    }
    .homepage-product-text{
        height: 65px;
    }
}
@media screen and (min-width: 701px) and (max-width: 1100px){
    .homepage-product-flex-child{
        width: calc((100% - 2px) / 3);
        height: 66%;
        border-image: linear-gradient(transparent 0 13%, var(--color-borders) 13% 87%, transparent 87%) 30;
        border-width: 0px;
    }
    .homepage-product-flex-child:nth-child(2n){
        border-left: solid 1px var(--color-borders);
    }
    .homepage-product-flex-child:nth-child(3n){
        border-left: solid 1px var(--color-borders);
    }
    .homepage-product-price{
        font-family: Lato;
        color: var(--color-product-price);
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 12px;
    }
    .homepage-product-name{
        font-size: 16px;
    }
    .search-results-product-icons > button > img{
        width: 24px;
        height: 24px;
    }
}
@media screen and (min-width: 1101px){
    .homepage-product-flex-child{
        width: calc((100% - 2px) / 4);
        height: 50%;
        border-image: linear-gradient(transparent 0 10%, var(--color-borders) 10% 90%, transparent 90%) 30;
        border-width: 0px;
    }
    .homepage-product-flex-child:nth-child(2n){
        border-left: solid 1px var(--color-borders);
    }
    .homepage-product-flex-child:nth-child(3n){
        border-left: solid 1px var(--color-borders);
    }
    .homepage-product-flex-child:nth-child(4n){
        border-left: solid 1px var(--color-borders);
    }
    .homepage-product-price{
        font-family: Lato;
        color: var(--color-product-price);
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 16px;
    }
    .homepage-product-name{
        font-size: 24px;
    }
    .search-results-product-icons > button > img{
        width: 32px;
        height: 32px;
    }
}
product-name{
    font-family: Lato;
    color: var(--color-product-name);
    font-weight: normal;
}
product-brand{
    font-family: Lato;
    color: var(--color-product-brand);
    font-weight: bold;
}
.homepage-product{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px var(--color-borders);
    padding-top: 16px;
    padding-bottom: 16px;
}
.homepage-product > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.homepage-product-image{
    width: 80%;
    object-fit: contain;
    margin-bottom: 32px;
    margin-top: 16px;
}
.homepage-product-text{
    width: 90%;
    margin-bottom: 16px;
}
.search-results-product-price-icons{
    display: flex;
    justify-content: space-between;
}
.search-results-product-icons > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#search-results-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 0px;
}
#search-results-heading > h3{
    margin-left: 18px;
    margin-bottom: 0px;
}
#search-results-heading > h2{
    margin-bottom: 0px;
}
#search-results-header > h3{
    margin-left: 18px;
    margin-top: 4px;
}
#search-results-filter-sort{
    display: flex;
    justify-content: space-between;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 8px;;
}
#search-results-filter-sort > button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}
.product-category{
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    color: var(--color-product-category);
    margin-left: 8px;
}
.product-page-name{
    font-size: 32px;
}
.product-page-price{
    font-family: Lato;
    color: var(--color-product-price);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 8px;
}
.product-page-product{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 32px;
}
.product-page-right-container{
    margin-right: 64px;
    max-width: 396px;
}
.emphasised{
    background-color: var(--color-button-emphasised);
    color: var(--color-button-emphasised-text);
    border-color: var(--color-button-emphasised-border);
    border-width: 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.understate{
    background-color: var(--color-button-understate);
    color: var(--color-button-understate-text);
    border-color: var(--color-button-understate-border);
    border-width: 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 900px){
    .product-page-product{
        height: 500px;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    .product-page-product > img{
        height: 200px;
        object-fit: contain;
        margin-bottom: 32px;
    }
    .product-page-right-container{
        width: 100%;
        height: 200 px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .product-page-right-container > button{
        position: relative;
        height: 40px;
        width: 100%;
        font-size: 26px;
        cursor: pointer;
    }
    .product-page-name{
        margin-bottom: 16px;
    }
}
@media screen and (min-width: 901px){
    .product-page-product{
        height: 580px;
    }
    .product-page-product > img{
        height: 530px;
    }
    .product-page-right-container{
        width: 396px;
        height: 580 px;
    }
    .product-page-right-container > button{
        height: 48px;
        width: 100%;
        font-size: 26px;
        cursor: pointer;
    }
    .product-page-name{
        margin-bottom: 64px;
    }
}
.product-information{
    font-size: 32px;
    margin-left: 8px;
    margin-right: 8px;
}
.product-information-text{  
    font-size: 20px;
    margin-left: 8px;
    margin-right: 32px;;
}
@media screen and (max-width: 1100px) {
    .empty-cart{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
        justify-content: flex-start;
    }
    .empty-cart > div{
        font-family: Lato;
        font-weight: normal;
        font-size: 32px;
        margin-bottom: 148px;
    }
    .empty-cart > a > button{
        width: 100%;
        height: 40px;
        font-family: Lato;
        font-size: 26px;
        cursor: pointer;
    }
    .cart-title{
        font-family: Lato;
        font-weight: normal;
        font-size: 32px;
        margin-bottom: 16px;
        margin-left: 8px;
    }
    .cart-product{
        height: 95px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 8px;
        display: flex;
        flex-direction: row;
    }
    .cart-product-image-name{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .cart-product-image-name > img{
        height: 80px;
        object-fit: contain;
        margin-right: 4px;
    }
    .cart-product-image-name > div{
        width: 196px;
    }
    .amount-selector{
        display: flex;
        justify-content: center;
        font-family: Lato;
        font-size: 20px;
        font-weight: normal;
        color: var(--color-secondary);
        position: relative;
        z-index: 5;
        margin-left: -196px;
        margin-top: 45px;
    }
    .amount-selector > img{
        width: 32px;
        height: 32px;
        border-color: var(--color-secondary);
        border-bottom: 1px;
        border-top: 1px;
        border-style: solid;
    }
    .left-chevron{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-left: 1px;
        border-right: 0;
    }
    .right-chevron{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-left: 0;
        border-right: 1px;
    }
    .amount-selector > div{
        display: flex;
        width: 48px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-secondary);
    }
    .trash-price{
        width: 900px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        font-family: Lato;
        font-weight: bold;
        font-size: 20px;
        margin-right: 4px;
    }
    .trash-price > button{
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
    .shipping-cost{
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 16px;
    }
    .shipping-cost > div:first-child{
        font-family: Lato;
        font-weight: normal;
        font-size: 20px;
    }
    .shipping-cost > div:last-child{
        font-family: Lato;
        font-weight: light;
        font-size: 20px;
    }
    .total-cost{
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 16px;
    }
    .total-cost > div:first-child{
        font-family: Lato;
        font-weight: normal;
        font-size: 24px;
    }
    .total-cost > div:last-child{
        font-family: Lato;
        font-weight: bold;
        font-size: 20px;
    }
    .cart-buttons{
        margin-bottom: 32px;
        margin-top: 32px;
        margin-left: 8px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .cart-buttons > a{
        width: 100%;
    }
    .cart-buttons > a > button{
        font-family: Lato;
        margin-right: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        height: 48px;
        font-size: 26px;
        cursor: pointer;
    }
    .checkout-title{
        margin-left: 8px;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    .checkout-title > h3{
        font-size: 32px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .checkout-title > h2{
        font-size: 32px;
        font-weight: 100;
        margin-top: 0px;
    }
    .checkout-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 32px;
        margin-left: 0px;
        margin-right: 8px;
    }
    .checkout-form > input{
        width: 100%;
        height: 40px;
        font-size: 26px;
        font-family: Lato;
        margin-left: 0px;
        border-width: 1px;
        border-radius: 4px;
        border-color: var(--color-form-border);
        color: var(--color-form-text);
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .checkout-form > input + input{
        margin-top: 16px;
    }
    .checkout-form > input::placeholder{
        font-size: 26px;
        text-align: left;
        vertical-align: middle;
    }
    #City-input{
        width: 65%;
    }
    #Postcode-input{
        width: 30%;
    }
    #CVV-input{
        width: 33%;
    }
    #Expiry-input{
        width: 62%;
    }
    .price-checkout{
        width: 900px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        font-family: Lato;
        font-weight: bold;
        font-size: 20px;
        margin-right: 4px;
    }
    .checkout-buttons{
        margin-bottom: 32px;
        margin-top: 32px;
        margin-left: 8px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .checkout-buttons > a{
        width: 100%;
    }
    .checkout-buttons > a > button{
        font-family: Lato;
        margin-right: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        height: 48px;
        font-size: 26px;
        cursor: pointer;
    }
    .confirmation-title{
        margin-left: 8px;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    .confirmation-title > h3{
        font-size: 32px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .confirmation-title > h2{
        font-size: 32px;
        font-weight: 100;
        margin-top: 0px;
    }
    .confirmation-shipping{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 32px;
        margin-left: 0px;
        margin-right: 8px;
        text-shadow: 0px 2px 4px rgba(0, 4, 4, 0.25);
    }
    .confirmation-shipping > div{
        width: 100%;
        height: 40px;
        font-size: 26px;
        font-family: Lato;
        margin-left: 0px;
        border-width: 1px;
        border-radius: 4px;
        border-color: var(--color-form-border);
        color: var(--color-text);
    }
    .confirmation-shipping > div +div{
        margin-top: 16px;
    }
    #confirmation-city{
        width: 45%;
    }
    #confirmation-postcode{
        width: 50%;
    }
    .total-cost-confirmation{
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 16px;
    }
    .total-cost-confirmation > div:first-child{
        font-family: Lato;
        font-weight: normal;
        font-size: 24px;
    }
    .total-cost-confirmation > div:last-child{
        font-family: Lato;
        font-weight: bold;
        font-size: 20px;
    }
    .confirmation-buttons{
        margin-bottom: 32px;
        margin-top: 32px;
        margin-left: 8px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .confirmation-buttons > a{
        width: 100%;
    }
    .confirmation-buttons > a > button{
        font-family: Lato;
        margin-right: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        height: 48px;
        font-size: 26px;
        cursor: pointer;
    }
}
@media screen and (min-width: 1101px) {
    .empty-cart{
        display: flex;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 300px;
        justify-content: space-between;
    }
    .empty-cart > div{
        font-family: Lato;
        font-weight: normal;
        font-size: 48px;
    }
    .empty-cart > a > button{
        width: 400px;
        height: 48px;
        font-family: Lato;
        font-size: 26px;
        cursor: pointer;
    }
    .cart-title{
        font-family: Lato;
        font-weight: normal;
        font-size: 48px;
        margin-bottom: 16px;
        margin-left: 8px;
    }
    .cart-product{
        height: 190px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 8px;
        display: flex;
        justify-content: space-between;
    }
    .cart-product-image-name{
        display: flex;
    }
    .cart-product-image-name > img{
        height: 160px;
        object-fit: contain;
        margin-right: 32px;
    }
    .cart-product-image-name > div{
        width: 250px;
        font-size: 20px;
    }
    .amount-selector{
        display: flex;
        justify-content: center;
        font-family: Lato;
        font-size: 20px;
        font-weight: normal;
        color: var(--color-secondary);
    }
    .amount-selector > img{
        width: 32px;
        height: 32px;
        border-color: var(--color-secondary);
        border-bottom: 1px;
        border-top: 1px;
        border-style: solid;
    }
    .left-chevron{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-left: 1px;
        border-right: 0;
    }
    .right-chevron{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-left: 0;
        border-right: 1px;
    }
    .amount-selector > div{
        display: flex;
        width: 48px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-secondary);
    }
    .trash-price{
        width: 400px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        font-family: Lato;
        font-weight: bold;
        font-size: 32px;
        margin-right: 4px;
    }
    .trash-price > button{
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
    .shipping-cost{
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 16px;
    }
    .shipping-cost > div:first-child{
        font-family: Lato;
        font-weight: normal;
        font-size: 32px;
    }
    .shipping-cost > div:last-child{
        font-family: Lato;
        font-weight: light;
        font-size: 32px;
    }
    .total-cost{
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 16px;
    }
    .total-cost > div:first-child{
        font-family: Lato;
        font-weight: normal;
        font-size: 32px;
    }
    .total-cost > div:last-child{
        font-family: Lato;
        font-weight: bold;
        font-size: 32px;
    }
    .cart-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .cart-buttons > a > button{
        font-family: Lato;
        margin-right: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 500px;
        height: 48px;
        font-size: 26px;
        cursor: pointer;
    }
    .checkout-title{
        margin-left: 16px;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    .checkout-title > h3{
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .checkout-title > h2{
        font-size: 40px;
        font-weight: 100;
        margin-top: 0px;
    }
    .checkout-form{
        max-width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 64px;
    }
    .checkout-form > input{
        width: 100%;
        height: 48px;
        font-size: 36px;
        font-family: Lato;
        margin-left: 8px;
        border-width: 1px;
        border-radius: 4px;
        border-color: var(--color-form-border);
        color: var(--color-form-text);
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .checkout-form > input + input{
        margin-top: 32px;
    }
    .checkout-form > input::placeholder{
        font-size: 36px;
        text-align: left;
        vertical-align: middle;
    }
    #City-input{
        width: 73%;
    }
    #Postcode-input{
        width: 22%;
    }
    #CVV-input{
        width: 33%;
    }
    #Expiry-input{
        width: 62%;
    }
    .price-checkout{
        width: 900px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        font-family: Lato;
        font-weight: bold;
        font-size: 32px;
        margin-right: 4px;
    }
    .checkout-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .checkout-buttons > a > button{
        font-family: Lato;
        margin-right: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 500px;
        height: 48px;
        font-size: 26px;
        cursor: pointer;
    }
    .confirmation-title{
        margin-left: 16px;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    .confirmation-title > h3{
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .confirmation-title > h2{
        font-size: 40px;
        font-weight: 100;
        margin-top: 0px;
    }
    .confirmation-shipping{
        max-width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 64px;
        text-shadow: 0px 2px 4px rgba(0, 4, 4, 0.25);
    }
    .confirmation-shipping > div{
        width: 100%;
        height: 48px;
        font-size: 36px;
        font-family: Lato;
        margin-left: 0px;
        border-width: 1px;
        border-radius: 4px;
        border-color: var(--color-form-border);
        color: var(--color-text);
    }
    .confirmation-shipping > div + div{
        margin-top: 32px;
    }
    #confirmation-city{
        width: 60%;
    }
    #confirmation-postcode{
        width: 22%;
    }
    .total-cost-confirmation{
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 16px;
    }
    .total-cost-confirmation > div:first-child{
        font-family: Lato;
        font-weight: normal;
        font-size: 32px;
    }
    .total-cost-confirmation > div:last-child{
        font-family: Lato;
        font-weight: bold;
        font-size: 32px;
    }
}
.error{
    margin-left: 16px;
    min-height: 285px;
}